.form-container {
  padding: 15px;
}

form {
}
form label {
  display: block;
  width: 100%;
  clear: both;
  height: calc(1.2rem + 2px + 8px);
  margin-bottom: 8px;
}
form label span {
  display: block;
  float: left;
  width: 75px;
  height: 1.2rem;
  padding: 4px 0px;
}
form label input {
  display: block;
  float: left;
  width: 200px;
  height: 1.2rem;
  padding: 4px 8px;
  border: 1px solid #a9a9a9;
}
form label input.input-error {
  border-color: red;
}
form label select {
  display: block;
  float: left;
  width: 218px;
  border: 1px solid #a9a9a9;
  margin-top: 6px;
}
form label select.input-error {
  border-color: red;
}
form label textarea {
  display: block;
  float: left;
  width: calc(100% - 137px);
  height: 15rem;
  padding: 4px 8px;
  border: 1px solid #a9a9a9;
  margin-bottom: 8px;
}
form label textarea.input-error {
  border-color: red;
}
form label span.error-message {
  display: block;
  color: red;
  min-width: 50%;
  margin-left: 1rem;
}
form button {
  margin-left: 75px;
  background: none;
  border: 1px solid #a9a9a9;
  padding: 4px 12px;
  margin-right: 8px;
}

.manage-form-buttons {
  margin-bottom: 8px;
}
.manage-form-buttons .button {
  background: none;
  border: 1px solid #a9a9a9;
  padding: 4px 12px;
  padding-bottom: 6px;
  margin: 0px;
  margin-right: 8px;
  box-sizing: border-box;
  line-height: 1rem;
  font-size: 0.8rem;
  color: #000000;
}
.manage-form-buttons a.button {
  display: inline-block;
  text-decoration: none;
}
.manage-form-buttons .button:last-child {
  margin-right: 0px;
}
