.list-container {
  padding: 15px;
}

.manage-list-buttons {
}
.manage-list-buttons .button {
  background: none;
  border: 1px solid #a9a9a9;
  padding: 4px 12px;
  margin-right: 8px;
}
.manage-list-buttons .button:last-child {
  margin-right: 0px;
}

.categories {
  list-style: none;
  padding: 0px;
  border: 1px solid #a9a9a9;
  border-bottom: 0px;
}
.categories .category {
  border-bottom: 1px solid #a9a9a9;
  padding: 4px 12px;
}

.todos {
  list-style: none;
  padding-left: 15px;
}
.todos .todo {
  padding: 4px 12px;
}
