.todos {
  list-style: none;
  padding-left: 15px;
}

.todos .todo {
  padding: 4px 12px;
}

.todos li a {
  color: black;
  text-decoration: none;
}

.todos li a:hover,
.todoss li a:focus {
  text-decoration: underline;
}
